.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navCont {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;

    .linkButton {
        color: #003580;
        text-decoration: none;
    }
}

.avtarimg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #999;

}

.avatar {
    display: flex;
    gap: 20px;
}

.avtarname {
    border: 2px solid white;
    padding: 5px 20px;
    border-radius: 20px;
}

.navButton1 {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: red;
    background-color: transparent;

    border: 2px solid red;
    border-radius: 20px;

    .linkButton {
        color: #003580;
        text-decoration: none;
    }
}